<h2 class="content-block">
  <div></div>
</h2>
<h2 class="content-block">
  <div>{{ "Nhập liệu data" }}</div>
</h2>
<h2 class="content-block">
  <form id="form-import" [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
    <div class="row">
      <div class="col-sm-6 text-center">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" name="myfile" (change)="onFileSelect($event)"
            #UploadFileInput>
          <label class="custom-file-label" for="customFile">
            {{ fileInputLabel || 'Chọn file (*.xlsx, *.xls)'}}
          </label>
        </div>
      </div>
      <div class="btn-submit">
        <dx-button icon="upload" [useSubmitBehavior]="true" text="Tải lên"></dx-button>
      </div>
    </div>
  </form>
</h2>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.5)" [(visible)]="loadingVisible"
  [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>
